.*.swp
.swp

out.fail

tags
*.taghl

build/
examples/temp_sensor/vendor/
examples/temp_sensor/build/
plugins/fff/examples/fff_example/build/
plugins/module_generator/example/build/
plugins/dependencies/example/boss/build/
plugins/dependencies/example/boss/third_party/
plugins/dependencies/example/supervisor/build/

# Generated documentation site builds
site-web/
site-local/
.docsenv/

# IDEs and related
ceedling.sublime-project
ceedling.sublime-workspace
/.idea
/.vscode
/.claude

# Generated commit hash file for `--version` output
/GIT_COMMIT_SHA

# macOS junk
.DS_Store

# Ruby and Gem related
.ruby-version
ceedling-*.gem
Gemfile.lock
