/* sidebar logo and style */
/* Fix sidebar scrollwrap overflow from bad JS height calculation.
   We can't set site_url for the local site, and this causes the header height to be miscalculated.
 */
.md-sidebar {
    top: 2.4rem !important;
}
.md-sidebar__scrollwrap {
    height: calc(100vh - 2.4rem) !important;  /* 100vh minus header height */
    overflow-y: auto;
}
.md-nav--primary .md-nav__title {
    background-color: #EEEEEE !important;
    font-size: 0;
}
